################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DalsaSpyderCamera/LsoViewer/bin
/DalsaSpyderCamera/LsoViewer/obj
/DalsaSpyderCamera/DalsaSpyderCamera/bin/x64
/DalsaSpyderCamera/DalsaSpyderCamera/obj
/DalsaSpyderCamera/DalsaSpyderCamera/obj
/DalsaSpyderCamera/DalsaSpyderCamera/bin/x64
/DalsaSpyderCamera/LsoViewer/obj
